.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    fieldset {
        border: none;
    }
}

#main-search-bar {
    background-color: #525252;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    &::placeholder {
        color: #8E8E8E;
        opacity: 79%;
    }

    &[type=text] {
        color: white;
      }
}
.main-header {
    font-family: Suwannaphum;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 70px;
    text-align: center;
    color: #C3083F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-subheader {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #4E1924;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.error-dashboard {
    color: red;
    text-align: center;
    font-size: 32px;
}