
.information-container {
    background-color: #353539;
    font-size: 17px;
    color: #F9F5D9;
    text-align: center;
    overflow-y: auto;
}

  .image-frame-wrapper {
    margin: 50px;

    &img {
        height: 600px;
        width: 400px;
        margin-right: auto;
      }
  }

  .card-type-height {
    min-height: 125px;
  }
  
  .frame3 {
    box-shadow: 0 0 0 5px white, 0 0 0 6px #AAA, 0 0 0 10px #CCC, 0 0 0 11px #AAA;
  }
  
.back-button {
    float: right;
    margin-right: 50px;
}

.favorite-icon {
  align-self: end;
  color: #67cecc;
}