.notfound-header {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
}

.oops-header {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    color: #C3083F;
}