.signUp-container {
    background-color: #BDBDBD;
}

.signup-header {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #C3083F;

}